@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    font-family: "DM Sans", sans-serif;
    margin: 5px;
    padding: 0;
    border-radius: 10px;
}
.kontainer{
    padding: 10px;
    background-color: gray;
    margin: 10px;
}
.kotak1{
    background-color: hsl(256, 67%, 59%);
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 42px;
    font-weight: 500;
    border-radius: 7px;
    margin: 10px;
    
}
.faster{
    font-style: italic;
}
.ten{
    color: gold;
}
.bintang{
    width: 170px;
    margin-top: 10px;
}
.social{
    margin-bottom: -20px;
}
.sepuluh{
    margin-bottom: -20px;
}
.over{
    opacity: 0.5;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.kotak2{
    font-weight: bolder;
    font-size: 18px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    
}
.manage{
    margin-bottom: -5px;
}
.twitter{
    width: 210px;
    justify-content: center;
}
.kotak3{
    background-color: hsl(39, 100%, 71%);
    font-size: 22px;
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.maintain{
    margin-left: 8px;
    margin-right: 20px;
    line-height: 100%;
}
.posting{
    margin-left: 8px;
    margin-top: -5px;
}
.kalender{
    width: 170px;
    margin-left: 8px;
    margin-bottom: -17px;
    margin-top: 10px;

}
.kotak4{
    background-color: hsl(254, 88%, 90%);
    margin: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;

}
.grafik{
    width: 230px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.schedule{
    font-size: 18px;
    font-weight: bolder;
}
.optimize{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
.content{
    font-size: 12px;
    font-weight: bold;
    margin-top: -13px;
}
.your{
    font-size: 12px;
    font-weight: bold;
    margin-top: -2px;
}

.kotak5{
    margin: 10px;
    padding: 10px;
    background-color: hsl(256, 67%, 59%);
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.grafik2{
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    
    
}
.kotak6{
    margin: 10px;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
}
.limaenam{
    font-size: 30px;
    font-weight: bold;

}
.faster{
    margin-top: 5px;
    font-weight: 500;
}
.emote1{
    width: 140px;
    margin-top: 15px;

}
.kotak7{
    background-color: hsl(31, 66%, 93%);
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;


}
.quicker{
    color: hsl(256, 67%, 59%);
    font-weight: bold;
    margin-left: -3px;

}
.content{
    font-size: 20px;
    margin-top: 0.1px;
    margin-left: -35px;
    line-height: 0px;
    
}
.pointer{
    width: 150px;
    margin-left: -60px;
    margin-top: 30px;
}

.kotak8{
    background-color: hsl(39, 100%, 71%);
    font-size: 25px;
    font-weight: bolder;
    
}
.bungkus-emote{
    width: 100%;
    justify-content: flex-start;
    display: flex;
}
.emote2{
    width: 250px;
    margin-bottom: 20px;


}
.write{
    text-align: start;
    margin-left: 20px;
    padding-top: 20px;
}

